/* Ana konteyner - Sol və Sağın yan-yana durması üçün */
section {
    display: flex;
    width: 100%;
    max-width: 1280px; /* Standart ekran ölçüsü */
    margin: 0 auto;    /* Ortalanma */
    padding: 40px 0;
    align-items: flex-start;
}

/* --- SOL TƏRƏF (40%) --- */
.section_left {
    width: 40%;
    padding: 0 2rem;
}

.section_left ul {
    list-style: none;
    padding: 0;
}

.section_left li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.section_left ul li:hover a {
    font-weight: 700; 
}

.section_left ul li:hover svg {
    background-color: #0095DA; 
    width: 3rem;
    transition: 0.5s ease;
    color: #ffffff;         
}
.section_left li a{
    text-decoration: none;
    color: #000;
}
.section_left ul li svg{
    color: #0095DA;
    transition: 0.3s;
}
.section_right {
    width: 60%;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.section_right_1 {
    width: 60%; 
    margin-bottom: 40px;
}

.section_right_1 input {
    width: 100%;
    background-color: #F7FAFF;
    border: none;
    outline: none;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.section_right_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;        
    justify-content: center; 
    gap: 30px;             
}

.doctor_card_base {
    width: 40%;            
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.doctor_card_base:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.doctor_card_base img {
    width: 100%;
    height: 250px;          
    object-fit: cover;      
    border-radius: 10px;
    margin-bottom: 15px;
}

.doctor_card_base h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #333;
}

.doctor_card_base p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    height: 40px;           
}

.details_btn {
    display: inline-block;
    background-color: #00A6F2;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}